@font-face {
    font-family: "Comfortaa";
    src: url("../resources/fonts/Comfortaa-Regular.ttf");
}


body {
    font-family: "Comfortaa";
    background-color: white;
    text-align: center;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid black;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

header img {
    margin-left: 20px;
    height: 100px;
}

header ul {
    display: inline-flex;
    margin-right: 20px;
}